
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" (click)="moveToHome()" routerLink="home">
       Snowball
    </a>

    <a role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active': show}">
    <div class="navbar-end"  >
      <a class="navbar-item" (click)="logout()">
       Logout
      </a>
    </div>
  </div>
</nav>












